streamlit==1.32.0
pandas==2.2.0
playwright==1.42.0
python-dotenv==1.0.1
asyncio==3.4.3
streamlit-tags==1.2.8
supabase==2.3.5
beautifulsoup4==4.12.3
requests==2.31.0
aiohttp==3.9.3
google-generativeai==0.3.2
python-jose==3.3.0
openai==1.12.0